//====================
// All programs page

.allPrograms {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include fluidRem(height, 10rem, 40rem);

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      background-image: linear-gradient(
        to top,
        rgba(black, 0.9),
        rgba(black, 0.5),
        rgba(black, 0)
      );
    }

    img,
    .gatsby-image-wrapper {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      position: absolute;
    }
  }

  .heroContent {
    position: relative;
    z-index: 3;
    @extend %wrapper;
    @extend %padding;
    max-width: $mq-1000;
    margin: 0 auto;
    width: 90%;
    h1 {
      color: white;
      font-weight: 600;
    }
  }

  .intro {
    display: block;

    @media (min-width: $mq-700) {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
      grid-template-rows: repeat(10, auto);
    }

    h2 {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    p {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    ul {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: last;
    }
  }
}

#corevalues {
  padding: 0;
  position: relative;
  // @include fluidRem(height, 15rem, 35rem);

  ul {
    display: block;
    bottom: 1rem;
    background: rgba(black, 0.9);
    z-index: 100;
    li {
      position: unset;
      figure {
        display: block;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 100%;
          height: 100%;
          background: rgba(black, 0.2);
        }
      }
    }
  }
}

.listHead {
  display: flex;
  flex-direction: row;
}
