//====================
// All programs page

.allPrograms {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25rem;
    @media (min-width: $mq-700) {
      @include fluidRem(height, 10rem, 40rem);
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      background-image: linear-gradient(
        to top,
        rgba(black, 0.95),
        rgba(black, 0.8),
        rgba(black, 0)
      );
      @media (min-width: $mq-700) {
        background-image: linear-gradient(
          to top,
          rgba(black, 0.95),
          rgba(black, 0.6),
          rgba(black, 0)
        );
      }
    }

    img,
    .gatsby-image-wrapper {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      position: absolute;
    }
  }

  .heroContent {
    position: relative;
    z-index: 3;
    @extend %wrapper;
    @extend %padding;
    max-width: $mq-1000;
    margin: 0 auto;
    // width: 90%;
    h1 {
      color: white;
      font-weight: 600;
    }
  }

  .page-intro {
    display: block;
    @include fluidRem(padding, 2rem 3rem, 3rem 3rem);

    @media (min-width: $mq-700) {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
      grid-template-rows: repeat(10, auto);
    }

    h2 {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    p {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    ul {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: last;
    }
  }
}

#corevalues {
  padding: 0;
  position: relative;
  // @include fluidRem(height, 15rem, 35rem);

  ul {
    display: block;
    bottom: 1rem;
    background: rgba(black, 0.9);
    z-index: 100;
    li {
      position: unset;
      figure {
        display: block;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 100%;
          height: 100%;
          background: rgba(black, 0.2);
        }
      }
    }
  }
}

#programs {
  padding-top: 0;
  overflow: hidden;
  .intro {
    display: block;
    background: $c-secondary-01;
    position: relative;
    @include fluidRem(padding, 1rem 0 4rem, 3rem 0 4rem);

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: $c-secondary-01;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    h2,
    p {
      position: relative;
      z-index: 10;
      &::after {
        display: none;
      }
    }
  }
}

#programList {
  background: white;
  margin-top: -4rem;
  position: relative;
  z-index: 10;

  .programs {
    @include fluidRem(margin-bottom, 3rem, 6rem);
  }

  h3 {
    @extend %colorBar;
  }

  .listHead {
    display: none;
    @media (min-width: $mq-600) {
      display: grid;
      grid-template-columns: 55% 15% 30%;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid $c-primary-01;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      padding: 0.5em;
    }
  }

  .schoolProgramList {
    li {
      display: block;
      border-bottom: 1px solid darken($c-secondary-01, 5%);
      margin: 0;

      &:nth-child(odd) {
        background: lighten($c-primary-01, 71%);
      }
      .container {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;

        @media (min-width: $mq-600) {
          grid-template-columns: 55% 15% 30%;
        }

        h4 {
          display: block;
          width: 100%;
          font-weight: normal;
          margin: 0;
          @include fluidRem(font-size, 1rem, 1.2rem);
          a {
            display: block;
            text-decoration: none;
            padding: 0.8em 1em;

            &::before {
              content: "";
              display: block;
              width: 30%;
              height: 100%;
              opacity: 0;
              transition: all 0.2s ease-in-out;
              position: absolute;
              left: 0;
              top: 0;
              background: lighten($c-primary-02, 38%);
              z-index: 1;
              pointer-events: none;
            }
            span {
              position: relative;
              z-index: 9;
              text-decoration: underline;
            }
            &::after {
              content: $i-rightArrow2;
              font-family: $f-icons;
              font-size: 0.6em;
              margin-left: 1em;
              position: relative;
              z-index: 10;
              transition: all 0.2s ease-out;
            }

            &:hover,
            &:focus {
              &::before {
                opacity: 1;
                width: 100%;
              }
              span {
                text-decoration: none;
              }
              &::after {
                content: $i-link;
                color: $c-primary-02;
                font-size: 0.7em;
                margin-left: 1.3em;
              }
            }
          }
        }

        .typeOfDegree {
          display: block;
          margin: 0;
          position: relative;
          z-index: 10;
          @media (max-width: $mq-600) {
            padding: 0 1em;
            // border-bottom: 1px solid #dfdfdf;
            // border-top: 1px solid #dfdfdf;
            &::before {
              content: "Degree:";
              display: block;
              font-size: 0.7em;
              margin-bottom: 0em;
              text-transform: uppercase;
            }
          }
        }
        .methodOfStudy {
          display: flex;
          flex-flow: row wrap;
          margin: 0;
          position: relative;
          z-index: 10;

          @media (max-width: $mq-600) {
            padding: 1em;
            margin-top: 0.4em;
            &::before {
              content: "Learning Mode:";
              display: block;
              font-size: 0.7em;
              margin-bottom: 0em;
              text-transform: uppercase;
              position: absolute;
              top: 0;
            }
          }

          span {
            &::after {
              content: ",";
              margin-right: 0.25em;
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.ctaSection {
  background: $c-primary-02;
  margin-bottom: 2rem;
  .ctaContent {
    @extend %wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
    button {
      flex-shrink: 0;
    }
    @media (min-width: $mq-600) {
      flex-direction: row;
      p {
        margin: 0 2em 0 0;
        text-align: left;
      }
    }
  }
}
