//////////////////////////////////
//BRANDING
//////////////////////////////////

.logo {
  display: block;
  @include fluidRem(width, 8rem, 15rem);
  @include fluidRem(height, 2.3rem, 5.6rem);
  text-indent: -999em;
  position: relative;
  background: $c-primary-01;

  &::before {
    content: '';
    display: block;
    width: 90%;
    height: 90%;
    background: url(./../../assets/msu-logo-horizontal.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.logo-footer {
  display: block;
  @include fluidRem(width, 6rem, 9rem);
  @include fluidRem(height, 6.1rem, 9rem);
  text-indent: -999em;
  position: relative;
  font-family: 'Open Sans', sans-serif;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(./../../assets/msu-logo-vertical.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
}
