/////////////////
//HEAD
/////////////////

.page-header {
  border-top: 0.6rem solid $c-primary-02;
  @include fluidRem(margin-bottom, -2.3rem, -5.6rem);
  position: sticky;
  top: 0;
  z-index: 999;
}
