//////////////////////////////////
//LAYOUT
//////////////////////////////////

body {
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $f-sans;
  margin: 0;
}

%wrapper {
  display: block;
  width: 100%;

  &.centered {
    max-width: $mq-1200;
    margin: 0 auto;
  }

  &.narrow {
    max-width: $mq-1000;
    margin: 0 auto;
  }
}

%padding {
  @include fluidRem(padding, 1rem 1rem, 3rem 3rem);
}

.wrapper {
  @extend %wrapper;
  @extend %padding;
}
.site-content {
  overflow: hidden;
}

// ================================
// Hero Images

.cols {
  display: flex;
  flex-direction: column;

  @media (min-width: $mq-800) {
    flex-direction: row;

    .col-100 {
      width: 100%;
    }
    .col-90 {
      width: 90%;
    }
    .col-80 {
      width: 80%;
    }
    .col-70 {
      width: 70%;
    }
    .col-60 {
      width: 60%;
    }
    .col-50 {
      width: 50%;
    }
    .col-40 {
      width: 40%;
    }
    .col-30 {
      width: 30%;
    }
    .col-25 {
      width: 25%;
    }
    .col-20 {
      width: 20%;
    }
    .col-10 {
      width: 10%;
    }
  }

  & [class*="col"] {
    margin-bottom: 1em;

    @media (min-width: $mq-800) {
      margin-right: 2rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.group {
  display: block;
  @include fluidRem(padding, 1rem 0 0, 3rem 0 0);
  @include fluidRem(margin-bottom, 1rem, 3rem);

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &.buttons {
    display: flex;
    flex-direction: column;

    @media (min-width: $mq-600) {
      flex-direction: row;
      justify-content: flex-start;

      a {
        margin: 0 1em 1em 0;
      }
    }
  }
}

.drkbg {
  background: $c-secondary-01;
}

// ============================
// Footer

.site-footer {
  display: block;
  background: $c-primary-01;
  color: white;
  font-family: $f-sans;

  .wrapper {
    background: rgba(black, 0.3);
    max-width: 16em;
    @include fluidRem(padding, 1rem, 3rem);

    @media (max-width: $mq-1000) {
      padding-bottom: 7rem !important;
    }

    address {
      color: white;
      line-height: 1.5;
      margin-bottom: 1em;
      font-size: 0.8rem;
      text-align: center;
    }

    .tel {
      color: white;
      text-decoration: none;
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .logo-footer {
    @extend .logo-footer;
    margin: 0 auto 1rem;
  }
}
//============================

.no-break {
  display: inline;
}

figure {
  position: relative;
  margin-top: 0;
}

.siteContent {
  font-family: $f-sans;
}
