//! ==============
//! MODALS
//! ==============

.ReactModal__Overlay--after-open {
  background: rgba(black, 0.9) !important;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modalClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  @include fluidRem(padding, 3rem 1rem 1rem, 3rem 2rem 2rem);
  border-top: 0.5em solid $c-red;
  position: relative;
  max-width: $mq-800;
  outline: none;

  // ! Start Preloader
  // &::before {
  //   content: "";
  //   content: " ";
  //   display: block;
  //   position: absolute;
  //   width: 64px;
  //   height: 64px;
  //   margin: 8px;
  //   border-radius: 50%;
  //   border: 6px solid #fff;
  //   border-color: #fff transparent #fff transparent;
  //   animation: lds-dual-ring 1.2s linear infinite;
  // }
  // @keyframes lds-dual-ring {
  //   0% {
  //     transform: rotate(0deg);
  //   }
  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }
  //! -- End Preloader

  form {
    display: block;
    width: 100%;
  }

  button[class*='Button'] {
    padding: 0.85em 2em 0.85em 1.1em;
    @include buttons($c-cta);
    border-radius: 0;
  }
}

.close-btn {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0em;
  right: 0em;
  text-indent: -999em;
  margin: 0 0 0 auto;

  &::before {
    content: '+';
    display: block;
    font-family: $f-sans;
    font-size: 3rem;
    color: lighten(black, 50%);
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotate(45deg);
    line-height: 1;
    text-indent: 0;
  }

  &:hover,
  &:focus {
    &::before {
      color: $c-red;
    }
  }
}

.privacy,
.contact,
.help {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  @media (max-width: $mq-700) {
    padding-right: 1em;
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

// ==========================
//! Slick Carousel

// =============================

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  display: block;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

// ============================
// // Slider Left/Right Buttons

// .slick-arrow {
//   position: absolute;
//   z-index: 100;
//   top: 50%;
//   transform: translateY(-50%);

//   border: none !important;
//   background: none !important;
//   text-indent: -999em;
//   padding: 0;
//   margin: 0;
//   height: 2.5em;
//   width: 2.5em;

//   &::before {
//     content: $i-chevron;
//     font-family: $f-icons;
//     display: block;
//     color: black;
//     font-size: 1.5rem;
//     text-indent: 0;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translateY(-50%) translateX(-50%);
//     transition: all 0.2s ease;
//     opacity: 0.2;
//   }
// }

// .slick-prev {
//   // @include fluidRem('left', 0, 1rem);
//   display: none !important;
//   left: 0;

//   &::before {
//     transform: translateY(-50%) translateX(-50%) rotate(180deg);
//   }

//   &:hover,
//   &:focus {
//     &::before {
//       transform: translateY(-50%) translateX(-80%) rotate(180deg);
//       opacity: 1;
//     }
//   }

//   &:active {
//     &::before {
//       transform: translateY(-50%) translateX(-50%) rotate(180deg);
//     }
//   }
// }

// .slick-next {
//   display: none !important;
//   right: 0;
//   // @include fluidRem('right', 0, 1rem);

//   &:hover,
//   &:focus {
//     &::before {
//       transform: translateY(-50%) translateX(-10%);
//       opacity: 1;
//     }
//   }

//   &:active {
//     &::before {
//       transform: translateY(-50%) translateX(-50%);
//     }
//   }
// }

.slick-slider {
  padding: 0 1rem;
  .slick-arrow {
    &::before {
      display: block;
      content: $i-chevron;
      font-family: $f-icons;
      color: $c-primary-02;
    }
    &.slick-prev {
      &::before {
        transform: rotate(180deg);
      }
    }
    &.slick-next {
    }
  }

  .slick-dots {
    list-style: none;
    li {
      &::before {
        display: none;
      }
    }
  }

  .slick-slide {
    // float: none;
    .slick-slide-content {
      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
      .slick-caption {
        text-align: center;
        width: 90%;
        max-width: $mq-800;
        margin: 0 auto;
        @include fluidRem(padding, 1rem, 2rem);
        h3 {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &.research-interships {
    .slick-slide {
      .slick-slide-content {
        img {
          @include fluidRem(height, 15rem, 30rem);
        }
      }
    }
  }

  &.related-programs {
    .slick-track {
      display: flex;
    }
    .slick-slide {
      float: none;
      width: calc(100% - 2rem);
      margin: 0 1em;
      .slick-slide-content {
        img {
          height: 16em;
        }
        .slick-caption {
          width: 100%;
          border: 1px solid $c-secondary-01;

          h4 {
            @include fluidRem(font-size, 1rem, 1.3rem);
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
          }

          p {
            text-align: left;
          }
        }
      }
    }
  }
}
