// Sections
// ==================

@include keyframes(stickyheader) {
  0% {
    top: -5rem;
  }
  100% {
    top: 0.5rem;
  }
}

@include keyframes(stickyheaderout) {
  0% {
    top: 0.5rem;
  }
  100% {
    top: -5rem;
  }
}

#requestInfoCta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $c-primary-01;
  z-index: 90;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  @extend %padding;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-in;
  box-shadow: -1em 0 1em rgba(0, 0, 0, 0.1);

  @media (min-width: $mq-1000) {
    position: sticky;
    bottom: initial;
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0.8rem;
    @include fluidRem(height, 2.3rem, 5.6rem, 1);
    flex: 1;
  }

  .wrapper {
    padding: 0;
  }

  .ctaContent {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;

    p {
      display: none;
      color: white;
      margin: 0;
      @include fluidRem(font-size, 0.85rem, 1rem);
      margin-right: 1em;
      line-height: 1.1;
      @media (min-width: $mq-600) {
        display: block;
      }
    }

    button {
      flex-shrink: 0;
    }

    @media (min-width: $mq-1000) {
      max-width: $mq-700;
      margin: 0 auto;
    }

    @media (min-width: $mq-1200) {
      max-width: $mq-800;
    }
  }

  &.sticked {
    display: block;

    &.hidden {
      display: none;
    }

    @media (min-width: $mq-1000) {
      top: -5rem;
      @include animation(stickyheader 0.3s ease-in-out forwards);

      &.hidden {
        display: block;
        @include animation(stickyheaderout 0.3s ease-in-out forwards);
      }
    }
    .ctaContent {
      margin: 0 0 0 auto;
    }
  }
}

.cols {
  img {
    box-shadow: -0.5em 0.5em 0 $c-primary-02;
    @media (min-width: $mq-700) {
      box-shadow: -0.8em 0.8em 0 $c-primary-02;
    }
    @media (min-width: $mq-800) {
      box-shadow: -0.9em 0.9em 0 $c-primary-02;
    }
    @media (min-width: $mq-800) {
      box-shadow: -1em 1em 0 $c-primary-02;
    }
  }
}

.programDescription {
  display: flex;
  flex-direction: column;
}

.statsList {
  @extend .no-list;
  @extend .cols;
  flex-flow: row wrap;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    @include fluidRem(padding, 1rem, 2rem, 1);
    margin: 1em !important;
    width: 100%;
    color: $c-primary-01;

    span {
      word-wrap: anywhere;
    }

    picture {
      display: block;
      width: 100%;
      height: 100%;
      min-height: 12rem;

      img {
        display: block;
        object-fit: contain !important;
      }
    }

    &::before {
      display: none;
    }

    h3 {
      display: none;
    }

    h6 {
      @include fluidRem(font-size, 3rem, 6rem);
      line-height: 1;
      font-weight: 900;
      letter-spacing: -0.02em;
      margin: 0;
    }
    p {
      color: $c-primary-01;
    }
  }

  &.one-row {
    // flex-flow: row wrap;
    li {
      @media (min-width: $mq-500) {
        width: calc(50% - 2em);
        flex-grow: 0;
      }
    }
    @media (min-width: $mq-1100) {
      flex-flow: row nowrap;
      width: calc(100% - 2em);
    }
  }

  &.two-rows {
    @media (min-width: $mq-500) {
      justify-content: center;
    }
    li {
      @media (min-width: $mq-600) {
        width: calc(100% - 2em);
        max-width: calc(33% - 2em);
      }
    }
  }
}

.group.cols {
  display: block;
  display: grid;

  @media (min-width: $mq-700) {
    $_columnWidth: calc(12.5% - 1.75rem);
    display: grid;
    grid-template-columns: repeat(8, $_columnWidth);
    grid-template-rows: repeat(8, auto);
    column-gap: 2rem;
  }

  img,
  .gatsby-image-wrapper {
    width: 10rem;
    margin-bottom: 2rem;
    @media (min-width: $mq-700) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: last;
      width: auto;
    }
    @media (min-width: $mq-800) {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    @media (min-width: $mq-1000) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    @media (min-width: $mq-700) {
      grid-column-start: 3;
      grid-column-end: 9;
    }
    @media (min-width: $mq-800) {
      grid-column-start: 4;
      grid-column-end: 9;
    }
    @media (min-width: $mq-1000) {
      grid-column-start: 5;
      grid-column-end: 9;
    }
  }
}

.cols-container {
  .cols:nth-child(odd) {
    img,
    .gatsby-image-wrapper {
      @media (min-width: $mq-700) {
        grid-column-start: 7;
        grid-column-end: 9;
      }
      @media (min-width: $mq-800) {
        grid-column-start: 6;
        grid-column-end: 9;
      }
      @media (min-width: $mq-1000) {
        grid-column-start: 5;
        grid-column-end: 9;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    p {
      @media (min-width: $mq-700) {
        grid-column-start: 1;
        grid-column-end: 7;
      }
      @media (min-width: $mq-800) {
        grid-column-start: 1;
        grid-column-end: 6;
      }
      @media (min-width: $mq-1000) {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }
}

#testimonials {
  padding: 0;

  .group {
    @extend %padding;
  }

  .testimonial {
    background: $c-secondary-02;
    @extend .wrapper;

    &::before {
      content: $i-quote;
      font-family: $f-icons;
      color: $c-primary-02;
      display: block;
      text-align: center;
      @include fluidRem(font-size, 1.8rem, 3.5rem);
    }

    blockquote {
      display: flex;
      flex-direction: column;
      max-width: $mq-1200;
      @extend %padding;
      margin: 0 auto;
      @media (min-width: $mq-500) {
        flex-direction: row;
      }
    }

    .gatsby-image-wrapper {
      @include fluidRem(width, 5rem, 15rem);
      @include fluidRem(height, 5rem, 15rem);
      flex-shrink: 0;
      margin-right: 1.5rem;
      border: 2px solid white;
      margin-bottom: 1rem;
    }

    .description {
      p {
        color: white;
      }
      figcaption {
        display: block;
        color: white;
        font-size: 0.8em;
        text-align: right;
        padding: 0;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}

#discoverProgram {
  background: $c-secondary-02;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.8);
    z-index: 2;
    @media (min-width: $mq-800) {
      width: 90%;
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        rgba(black, 0.95),
        rgba(black, 0.8),
        rgba(black, 0)
      );
    }
  }

  .wrapper {
    position: relative;
    z-index: 10;
    @media (min-width: $mq-800) {
      @include fluidRem(padding-right, 0, 30rem);
    }
  }

  h3,
  p {
    color: white;
  }

  .discoverBgImg {
    display: block;
    position: absolute !important;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

#relatedProgram {
  .slick-slider {
    .slick-slide {
      img {
        @include fluidRem(height, 10rem, 25rem, 1);
      }
    }
  }
}
