////////////////////
//BUTTONS
////////////////////

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include buttons(
    $c-cta,
    $c-primary-01,
    lighten($c-secondary-02, 50%),
    $c-primary-02
  );
}

%minor-button {
  @include buttons($c-cta);
}

a {
  color: $c-links;
  transition: all 0.2s;

  &:hover {
    color: $c-ctahover;
    text-decoration: none;
    outline: none;
  }

  &:hover,
  &:active {
    outline: none;
  }
}

.extra-link {
  display: block;
  font-weight: 600;
  position: relative;
  font-size: 1rem;
  margin: 0.5em 0;
}

// ===========================
// Check if this is being used anywhere
.buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: $mq-600) {
    flex-direction: row;
    justify-content: flex-start;

    a,
    .button,
    button {
      margin: 0 1em 1em 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.centered {
    justify-content: center;
  }
}
