/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
label {
  display: block;
  font-family: $f-sans;
  text-align: left;
  font-size: 0.875rem;
  // text-transform: uppercase;

  span[role='alert'] {
    text-transform: initial;
    font-size: 0.9em;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
input[type='numeric'],
textarea,
select {
  display: block;
  width: 100%;
  color: $c-darkgray;
  border: 1px solid #cbd1d4;
  border-radius: 3px;
  background: #eceff1;
  padding: 0.3em 0.3em;
  margin: 0.2em 0;
  @include fluidRem(font-size, 1rem, 1.1rem);
  transition: all 0.2s;
}

select {
  display: block !important;
  // width: 100% !important;
  color: $c-darkgray !important;
  border: 1px solid #cbd1d4 !important;
  border-radius: 3px !important;
  background: #eceff1 !important;
  padding: 0.5em 0.3em !important;
  margin: 0.2em 0;
  @include fluidRem(font-size, 1rem, 1.1rem);
  transition: all 0.2s;
}

input[type='text']:focus,
input[type='text']:hover,
input[type='email']:focus,
input[type='email']:hover,
input[type='url']:focus,
input[type='url']:hover,
input[type='password']:focus,
input[type='password']:hover,
input[type='search']:focus,
input[type='search']:hover,
input[type='number']:focus,
input[type='number']:hover,
input[type='numeric']:hover,
input[type='numeric']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  outline: none !important;
  background: lighten($c-gray, 72%) !important;
  color: $c-darkgray !important;
  border-color: $c-gray !important;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

// .question {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 0.5em;
//   padding-top: 0.5em;
//   border-top: 1px solid lighten(black, 95%);

//   .input {
//     width: 100%;
//   }

//   label {
//     display: block;
//     width: 100%;
//     font-size: 1rem;
//   }

//   @media (min-width: $mq-1000) {
//     flex-direction: row;
//     align-items: center;

//     label {
//       width: 15em;
//       line-height: 1.2;
//       margin-right: 1em;
//     }
//   }
// }

.form {
  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    // margin-bottom: 0.2em;
    padding: 0.2em 0.5em;
    border-top: 1px solid lighten(black, 95%);
    @media (min-width: $mq-1000) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    input,
    select {
      @media (min-width: $mq-1000) {
        max-width: 18rem;
        margin-left: 1em;
      }
    }
  }

  .gradyear-question {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    border-top: 1px solid lighten(black, 95%);
    @media (min-width: $mq-1000) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    label {
      margin: 0;
      border: none;
      width: auto;
      padding: 0;
    }
    .grad-select {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-shrink: 0;

      select {
        margin-right: 0.5em;

        &[name='dobMonth'] {
          width: 8em;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      @media (min-width: $mq-1000) {
        max-width: 18rem;
        margin-left: 1em;
      }
      label {
        display: none;
        visibility: hidden;
      }
    }
  }
  .dob-question {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    border-top: 1px solid lighten(black, 95%);
    @media (min-width: $mq-1000) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    label {
      border: none;
    }
    .dob-selects {
      display: flex;
      width: 100%;
      flex-shrink: 0;

      select {
        margin-right: 0.5em;

        &[name='dobMonth'] {
          width: 8em;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      @media (min-width: $mq-1000) {
        max-width: 18rem;
        margin-left: 1em;
      }
      label {
        display: none;
        visibility: hidden;
      }
    }
  }

  span[class*='Error'],
  div[class*='Error'] {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 0.5em 0.5em;
    color: $c-red;
    font-size: 1rem;
    &::before {
      display: none;
    }
  }
}

select {
  display: block;
  height: 2.5em;
}

.textarea-type {
  align-items: flex-start;

  textarea {
    height: 7em;
  }
}

.button-type {
  justify-content: space-between;

  input[type='submit'],
  input[type='button'] {
    margin: 0.5em 0;
  }
}

input[error] {
  border-color: $c-red;
}

.type-button {
  // margin-top: 2em;
  padding: 0.2em 0.5em;
  border-top: 1px solid lighten(black, 95%);
}

#thanks {
  display: none;
  h4 {
    @include fluidRem(font-size, 1rem, 2rem);
    font-weight: normal;
    border-left: 1px solid $c-red;
    padding-left: 0.3em;
    line-height: 1.2;
    // color: $c-red;
  }
}
